<% content_for :title do %>
  Order Requests
<% end %>

<section class="entity-table">
  <h1>Order request</h1>

  <div class="table-container">
    <table class="table-bordered">
      <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Delivery Address</th>
        <th>Requester Email</th>
        <th>Status</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @order_request.product.name %></td>
          <td><%= @order_request.quantity %></td>
          <td><%= @order_request.delivery_address %></td>
          <td><%= @order_request.user.email %></td>
          <td><%= @order_request.status %></td>
          <td>
            <div class="action-container">
              <% if current_user.admin? %>
                <%= link_to "Back", order_requests_path, class: "btn btn-primary back-button" %>
                <%= link_to "Edit", edit_order_request_path(@order_request), class: "btn btn-primary edit-button" %>
              <% elsif current_user.user? %>
                <%= link_to "Back", order_requests_path, class: "btn btn-primary back-button" %>
              <% end %>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
