<% content_for :title do %>
  Add customer
<% end %>

<section class="entity-table">
  <h1 class="mb-3">New customer</h1>
  <%= form_with model: @customer do |form| %>
    <div class="table-container">
      <table class="table-bordered">
        <thead>
        <tr>
          <th>Name</th>
          <th>Surname</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Address</th>
          <th></th>
        </tr>
        </thead>
          <tbody>
          <tr>
            <td><%= form.text_field :name %></td>
            <td><%= form.text_field :surname %></td>
            <td><%= form.text_field :contact_number %></td>
            <td><%= form.text_field :email %></td>
            <td><%= form.text_field :address %></td>
            <td>
              <div class="action-container">
                <%= link_to "Back", customers_path, class: "btn btn-primary back-button" %>
                <%= form.submit "Save", class: "btn btn-success" %>
              </div>
            </td>
          </tr>
          </tbody>
      </table>
    </div>
  <% end %>
</section>
