<% content_for :title do %>
  Add product
<% end %>

<section class="entity-table">
  <h1 class="mb-3">New product</h1>
  <%= form_with model: @product do |form| %>
    <div class="table-container">
      <table class="table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <td><%= form.text_field :name %></td>
          <td><%= form.text_field :description %></td>
          <td>$<%= form.text_field :unit_price %></td>
          <td><%= form.text_field :available_quantity %></td>
          <td>
            <div class="action-container">
              <%= link_to "Back", products_path, class: "btn btn-primary back-button" %>
              <%= form.submit "Save", class: "btn btn-success" %>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  <% end %>
</section>